/**
app
*/
html,
body {
    height: 100%;
    width: 100%;
}

div.app {
    height: calc(100% - 56px);
    width: 100%;
}

.hidden {
    display: none;
}

/**
nav
*/
a,
a label {
    cursor: pointer;
}

/**
crowdsourcemail
*/
span.subject {
    font-weight: 700;
}

span.text {
    margin-left: 15px;
    color: gray;
}

div.message {
    height: 24px;
    overflow: hidden;
}

table {
    width: 100%;
    table-layout: fixed;
}

.date-column {
    width: 85px;
}

.app tr:hover {
    cursor: pointer;
}

/**
crowdsouremail message item view
*/
.app .message-date {
    width: 100px;
}

.app .text-body {
    white-space: pre-wrap;
}

.app .count-column {
    width: 50px;
}

/**
crowdsourcemail auth view
*/
.app .login-form .use-google {
    float: right;
}