<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <style>
            span.subject {
                font-weight: 700;
            }
            span.text {
                margin-left: 15px;
                color: gray;
            }
            div.message {
                height: 24px;
                overflow-y: hidden;
            }
        </style>
    </head>
    <body>
        <div class="main-nav"></div>
        <div class="app"></div>
        <script>

            $(document).ready(() => {
                init();
            });

            function init() {
                const token = localStorage.getItem('token');
                if (!token) {
                    showLogin();
                    return;
                }
                updateNav();
                updateMailApp();
            }

            function showLogin() {
                const html = `
<div class="container p-4">
    <div class="row g-8 g-m-5">
        <form class="login-form">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>`;
                $('.app').html(html);
                $('.app').find('.login-form').submit((e) => {
                    const email = $('input[type="email"]').val();
                    $.post('/auth/email/', {
                        email
                    }).then((data) => {
                        showAuth(email);
                    });
                    return false;
                });
            }

            function showAuth(email) {
                const html = `
<div class="container p-4">
    <div class="row g-8 g-m-5">
        <form class="auth-form">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingEmailInput" value="${email}">
                <label for="floatingEmailInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="token" class="form-control" id="floatingInput">
                <label for="floatingInput">Token From Email</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>`;
                $('.app').html(html);
                $('.app').find('.auth-form').submit((e) => {
                    const email = $('input[type="email"]').val();
                    const token = $('input[type="token"]').val();
                    $.post('/auth/token/', {
                        email,
                        token
                    }).then((data) => {
                        localStorage.setItem('token', data.token);
                    });
                    return false;
                });
            }

            function updateMailApp() {
                const token = localStorage.getItem('token');
                if (!token) {
                    showLogin();
                    return;
                }
                $.ajax({
                    type: 'GET',
                    url: '/api/messages/',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': `Token ${token}`
                    },
                }).then((data) => {
                    renderMailApp(data);
                });
            }

            function renderMailApp(mailData) {
                const table = $('<table class="table table-dark table-striped"></table>');
                const tbody = $('<tbody></tbody>');
                $.each(mailData.results, (index, message) => {
                    console.log('message', message);
                    const messageListItem = getMessageListItem(message);
                    tbody.append(messageListItem);
                });
                table.append(tbody);
                $('.app').append(table);
            }

            function getMessageListItem(message) {
                const row = $('<tr></tr>');
                const text = $(`<td class="col-11"><div class="message"><span class="subject">${message.subject}</span><span class="text">${message.text}</span></div></td>`);
                const time = $(`<td class="col-1">${moment(message.processed).format("M/D/YY")}</td>`);
                row.append(text);
                row.append(time);
                return row;
            }

            function updateNav() {
                const html =
`
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Crowdsource Mail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
`;
                $('.main-nav').append(html);
            }
        </script>

        <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
